/* src/index.css */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  background: #f8f8f8;
  overflow-x: hidden;
}

.gradient-text {
  background: linear-gradient(to right, #ff7b00, #ffb700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}